
<br>
<br>

<ng-container  [ngSwitch]="param">
    <ng-container *ngSwitchCase="1">
        <span>1</span>
    </ng-container>
    <ng-container *ngSwitchCase="2">
        <span>2</span>
    </ng-container>
    <ng-container *ngSwitchCase="3">
        <span>3</span>
    </ng-container>
    <ng-container *ngSwitchCase="4">
        <span>4</span>
    </ng-container>
    <ng-container *ngSwitchCase="5">
        <span>5</span>
    </ng-container>
    <ng-container *ngSwitchCase="6">
        <span>6</span>
    </ng-container>
</ng-container>